.red
{
    background-color:red;
}

.navbar-text > a {
	color:inherit;
	text-decoration: none;
}

body {
	padding-top:70px;
	padding-bottom:100px;
	/*background-color: #E0E0E0;*/
}

#btnAnadir {
  padding-bottom:10px;

}
#listSearchs {
  margin-bottom:10px;
  border-radius: 10px;
}


#seccion1{
	width: 750px;
	margin: 0 auto;
}
#idcenter{
  
  margin: 0 auto;
}

#seccionSports{
	width: 650px;
	margin: 0 auto;
}

#seccionNotification{
	width: 650px;
	margin: 0 auto;
}

#seccionFriends{
	width: 650px;
	margin: 0 auto;
}

.tab-pane {
	background: #ffffff;
	box-shadow: 0 0 4px rgba(0,0,0,.4);
	border-radius: 6px;
	text-align: center;
	padding: 10px;
}

.stick{
	position: fixed !important;
	top: 0;
	z-index: 999 !important;
	width: 100%;
	background: #ffffff !important;
	height: auto; 
	transition: all ease 0.8s;
	-webkit-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
}

.stick a { 
	line-height: 20px !important;
}

.stick img { 
	margin:0 !important;
}


.jumbotron {
  /* Aqui poner la ruta de la imagen del jumbotron (donde pone "Bienvenido a Social Sport") */
  background-image: url('../img/header.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: myFirstFont;
  text-shadow: 2px 0 black, 0 2px black, 2px 0 black, 0 2px black;
}

P {
	font-family: 'Open Sans', sans-serif;
}

a.btn {
	font-family: 'Open Sans', sans-serif;
}
#font {
	font-family: 'Open Sans', sans-serif;
}
#seccion {
	font-family: 'Open Sans', sans-serif;
}
@font-face {
    font-family: myFirstFont;
    src: url('../img/airstrikelaser.ttf');
}

#containerDeportes {
	width: 100%;
}
#bSuscribeteFutbol {
	font-size: 100%;
}
#bSuscribetePingPong{
	font-size: 100%;
}
#bSuscribeteAjedrez{
	font-size: 100%;
}
#bSuscribeteBasket{
	font-size: 100%;
}
a.list-group-item {
    height:auto;
    min-height:100px;
}
a.list-group-item.active small {
    color:#fff;
}
div.list-group-item {
    height:auto;
    min-height:100px;
}
div.list-group-item.active small {
    color:#fff;
}
form.list-group-item {
    height:auto;
    min-height:100px;
}
form.list-group-item.active small {
    color:#fff;
}
@media all and (max-width:1200px) and (min-width:992px){
	#bSuscribete{
	text-align: center;
	padding: 10px 0; }
	
	#bSeguir {
	text-align: center;
	padding: 10px 10px;;
	}
}
#bSuscribete {
  font-size: 100%;
}
#bSeguir {
  font-size: 100%;
}

@media all and (max-width:375px){
	
	#bSuscribete{
		padding: 0;
		text-align: center;
		margin: 10px 0;
		padding: 10px 5px;
		font-size: 90%;
	}
	#bSeguir {
		padding: 0;
		text-align: center;
		margin: 10px 0;
		padding: 10px 5px;
		font-size: 90%;
	}
	#list-group-item-text{
		font-size: 80%;
	}
}

@media all and (max-width:320px){
	
	#bSuscribete{
		padding: 0;
		text-align: center;
		margin: 10px 0;
		padding: 10px 0px;
		font-size: 80%;
	}
	#bSeguir {
		padding: 0;
		text-align: center;
		margin: 10px 0;
		padding: 10px 0px;
		font-size: 80%;
	}
	#list-group-item-text{
		font-size: 70%;
	}
	
	.search-btn {
		width: 100%;
	}
	#busAmi{
		width: 315px;
	}
	#bSuscribete{
		margin: 10px 0;
		font-size: 11px;
	}
	
	#seccionFriends{
		width: 250px;
		margin: 0 auto;
	}
	#seccionSports{
		width: 250px;
		margin: 0 auto;
	}
	#seccionNotification{
		width: 250px;
		margin: 0 auto;
	}
	h2 {
		margin: 0 auto;
	}
	
}
